.intro-header{
  height: 22vh;
  background-color: #e6e6e6;
}

.intro-header .navbar-brand .logo-text{
  font-size: 2.5rem;
  padding-left: 1.1rem;
}

.intro-header .nav-link {
  font-size: 1.4rem;
}

.intro-header .link-width {
  width: 6vw;
  display: flex;
  justify-content: center;
}
