.auth.header {
  height: 5vh;
}

.header .navbar-brand .text{
  font-size: 1.2rem;
}

.header .nav-link {
  font-size: 1rem;
}

.auth .header-container {
  width: 100%;
  margin-left: 1vw;
  margin-right: 4vw;
  padding: 0;
}
