// BLUE:
$blue0: #0088ff;
$blue1: #0079e4;
$blue2: #0066c0;
$blue3: #0056a1;
$blue4: #00437e;
$blue0d: #003768;
$blue1d: #002b50;
$blue2d: #00203b;
$blue3d: #01182a;
$blue4d: #020d14;
$blue0l: #00aeff;
$blue1l: #3cc1ff;
$blue2l: #6cd0ff;
$blue3l: #90dcff;
$blue4l: #b5e8ff;
