// GREEN:
$green0: #00e41e;
$green1: #00cf1f;
$green2: #00bb22;
$green3: #009921;
$green4: #008325;
$green0d: #005500;
$green1d: #004400;
$green2d: #003300;
$green3d: #002200;
$green4d: #001100;
$green0l: #73ff00;
$green1l: #92ff39;
$green2l: #b0ff6f;
$green3l: #c8ff9b;
$green4l: #d6ffb5;
