// ORANGE:
$orange0: #ff5100;
$orange1: #e44800;
$orange2: #cc4100;
$orange3: #b93b00;
$orange4: #9c3100;
$orange0d: #5c1d00;
$orange1d: #471700;
$orange2d: #361100;
$orange3d: #250c00;
$orange4d: #180800;
$orange0l: #ff5858;
$orange1l: #ff7070;
$orange2l: #ff8c8c;
$orange3l: #ffa2a2;
$orange4l: #ffbebe;