// PINK:
$pink0: #d900ff;
$pink1: #c200e4;
$pink2: #a900c7;
$pink3: #9300ad;
$pink4: #7c0092;
$pink0d: #69007c;
$pink1d: #570066;
$pink2d: #480055;
$pink3d: #370041;
$pink4d: #230029;
$pink0l: #e839ff;
$pink1l: #ec60ff;
$pink2l: #f080ff;
$pink3l: #f49fff;
$pink4l: #f7b8ff;