// RED:
$red0: #ff3d3d;
$red1: #ff0000;
$red2: #e40000;
$red3: #c70000;
$red4: #a70000;
$red0d: #7a0000;
$red1d: #680000;
$red2d: #520000;
$red3d: #360000;
$red4d: #250000;
$red0l: #ff5858;
$red1l: #ff7070;
$red2l: #ff8c8c;
$red3l: #ffa2a2;
$red4l: #ffbebe;