// TURQUOISE:
$turquoise0: #00ffff;
$turquoise1: #00dbdb;
$turquoise2: #00bbbb;
$turquoise3: #009797;
$turquoise4: #008383;
$turquoise0d: #006161;
$turquoise1d: #004444;
$turquoise2d: #003333;
$turquoise3d: #002222;
$turquoise4d: #001111;
$turquoise0l: #4effff;
$turquoise1l: #74ffff;
$turquoise2l: #88ffff;
$turquoise3l: #a0ffff;
$turquoise4l: #b8ffff;