// VIOLET:
$violet0: #7839ff;
$violet1: #6118ff;
$violet2: #5000ff;
$violet3: #4500db;
$violet4: #3e00c3;
$violet0d: #2d008f;
$violet1d: #22006d;
$violet2d: #1a0053;
$violet3d: #13003a;
$violet4d: #08001a;
$violet0l: #9666ff;
$violet1l: #a47aff;
$violet2l: #b18dff;
$violet3l: #bc9eff;
$violet4l: #cbb3ff;