// YELLOW:
$yellow0: #ffd900;
$yellow1: #f0cc00;
$yellow2: #e4c200;
$yellow3: #d4b500;
$yellow4: #b39800;
$yellow0d: #7a7800;
$yellow1d: #666400;
$yellow2d: #504e00;
$yellow3d: #3d3c00;
$yellow4d: #292800;
$yellow0l: #fffc65;
$yellow1l: #fffd8b;
$yellow2l: #fffead;
$yellow3l: #fffed4;
$yellow4l: #ffffea;