@import "./_red.scss";
@import "./_orange.scss";
@import "./_yellow.scss";
@import "./_green.scss";
@import "./_turquoise.scss";
@import "./_blue.scss";
@import "./_violet.scss";
@import "./_pink.scss";
@import "./_gray.scss";

// WHITE:
$white0: #ffffff;

// BLACK:
$black0: #000000;

// TRANSPARENT:
$transparent0: #ffffff00;
